body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heart{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 96%;
}