:root 
{
    --color1: #30343F;
    --color2: #FAFAFF;
    --color3: #E4D9FF;
    --color4: #374479;
    --color5: #6E7799;
    --color6: #C490D1;
}

*
{
    box-sizing: border-box;
}
    
html
{
    font-size: 62,5%;
}

body
{
    font-size: 1.6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color1);
    margin: 30px 100px;
    padding: 20px;
    border: solid 1px;
    border-color: var(--color3);
}

h1
{
    color: var(--color3);
}

th, td
{
    background-color: var(--color4);
    color: var(--color3);
    
    padding: 5px;
}

table
{
    background-color: var(--color5);
    border: var(--color3);
}